<!DOCTYPE html>
<html xmlsn="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Lista de Convidados</title>

    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap-grid.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 50px; text-align: center; max-width: 600px">
    <div class="panel-heading">
        <h1 class="panel-title">Lista de Convidados</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Acompanhantes
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="convidado : ${convidados}">
                <td th:text="${convidado.nome}"></td>
                <td th:text="${convidado.quantidadeDeAcompanhantes}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/webjars/jquery/5.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>